<nav>
  <ul class="nav-ul">
    <div>
      <li>
        <a routerLink="/list" routerLinkActive="active">
          <span>my list</span>
        </a>
      </li>
      <li>

        <a routerLink="/completed" routerLinkActive="active"> completed </a>
        
      </li>
      <li>
        <a routerLink="/uncompleted" routerLinkActive="active"> uncompleted </a>
      </li>
    </div>

    <div>
      <li class="logOut">
        <a href="#" routerLink="/">
          <span id="logout">log out</span>
        </a>
      </li>

      <li>
        <span style="color: white">{{ userObject.username }}</span>
      </li>
    </div>
  </ul>
</nav>
