
<div class="container">
   
    <div class="form">
        <div id="login-ttle"><span>Login </span>
        </div>
            <br/>
            <label>Username</label>
            <br/>
            <br/>
            <input   [(ngModel)]="username"  type="email" class="form-control" id="inputEmai3">
            <br/>
            <button (click)="handleLogin()" (keyup)="onKey()" type="button" class="btn btn-primary" id="btn" >log in</button>
    </div>
    <div class="login-error"><span id="error-message">{{message}}</span></div>

</div>
